@font-face {
    font-family: "Main Font";
    src: url(../assets/fonts/static/PublicSans-Medium.ttf);
}

$header-bar-bg-color: white;
$articles-bg-colors: #FAFAFA, #F4F5F7;
$footer-bar-bg-color: hsl(233, 26%, 24%);

$primary-font-family: "Main Font";
$primary-font-color: #30314D;
$secondary-font-color: #9A999E;
$bg-dark-font-color: #D8FFFA;

$gradient-colors: hsl(136, 65%, 51%), hsl(192, 70%, 51%);